In [100]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import regex as re

In [101]:
data = pd.read_csv('laptop_price.csv',encoding='latin-1')
data.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60

In [102]:
data.isna().sum()

laptop_ID           0
Company             0
Product             0
TypeName            0
Inches              0
ScreenResolution    0
Cpu                 0
Ram                 0
Memory              0
Gpu                 0
OpSys               0
Weight              0
Price_euros         0
dtype: int64

In [103]:
data.duplicated().sum()

0

In [104]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   laptop_ID         1303 non-null   int64
 1   Company           1303 non-null   object
 2   Product           1303 non-null   object
 3   TypeName          1303 non-null   object
 4   Inches            1303 non-null   float64
 5   ScreenResolution  1303 non-null   object
 6   Cpu               1303 non-null   object
 7   Ram               1303 non-null   object
 8   Memory            1303 non-null   object
 9   Gpu               1303 non-null   object
 10  OpSys             1303 non-null   object
 11  Weight            1303 non-null   object
 12  Price_euros       1303 non-null   float64
dtypes: float64(2), int64(1), object(10)
memory usage: 132.5+ KB

In [105]:
data['Weight'] = data['Weight'].str.replace('kg','').astype('float64')

In [106]:
data['Ram'] = data['Ram'].str.replace('GB','').astype('int32')

In [107]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   laptop_ID         1303 non-null   int64
 1   Company           1303 non-null   object
 2   Product           1303 non-null   object
 3   TypeName          1303 non-null   object
 4   Inches            1303 non-null   float64
 5   ScreenResolution  1303 non-null   object
 6   Cpu               1303 non-null   object
 7   Ram               1303 non-null   int32
 8   Memory            1303 non-null   object
 9   Gpu               1303 non-null   object
 10  OpSys             1303 non-null   object
 11  Weight            1303 non-null   float64
 12  Price_euros       1303 non-null   float64
dtypes: float64(3), int32(1), int64(1), object(8)
memory usage: 127.4+ KB

In [108]:
numeric_cols = data.select_dtypes(include=[np.number])
correlation = numeric_cols.corr()['Price_euros']
correlation

laptop_ID      0.067830
Inches         0.068197
Ram            0.743007
Weight         0.210370
Price_euros    1.000000
Name: Price_euros, dtype: float64

In [109]:
data['Company'].value_counts()

Company
Dell         297
Lenovo       297
HP           274
Asus         158
Acer         103
MSI           54
Toshiba       48
Apple         21
Samsung        9
Razer          7
Mediacom       7
Microsoft      6
Xiaomi         4
Vero           4
Chuwi          3
Google         3
Fujitsu        3
LG             3
Huawei         2
Name: count, dtype: int64

In [110]:
def reduce_category(dataframe,variable_name,count_th=10,replace_with='Other'):
    count = dataframe[variable_name].value_counts()
    variable_name_count_lessthan10 = [i for i in list(count.index) if count[i]<count_th]
    dataframe[variable_name] = dataframe[variable_name].replace(variable_name_count_lessthan10,replace_with)
    print(dataframe[variable_name].value_counts())
    return dataframe[variable_name]

reduce_category(data,'Company')

Company
Dell       297
Lenovo     297
HP         274
Asus       158
Acer       103
MSI         54
Other       51
Toshiba     48
Apple       21
Name: count, dtype: int64

0        Apple
1        Apple
2           HP
3        Apple
4        Apple
         ...
1298    Lenovo
1299    Lenovo
1300    Lenovo
1301        HP
1302      Asus
Name: Company, Length: 1303, dtype: object

In [111]:
def check_data(df):
    print(80 * "*")
    print('DIMENSION: ({}, {})'.format(df.shape[0], df.shape[1]))
    print(80 * "*")
    print("COLUMNS:\n")
    print(df.columns.values)
    print(80 * "*")
    print("DATA INFO:\n")
    print(df.dtypes)
    print(80 * "*")
    print("MISSING VALUES:\n")
    print(df.isnull().sum())
    print(80 * "*")
    print("NUMBER OF UNIQUE VALUES:\n")
    print(df.nunique())
    
check_data(data)

********************************************************************************
DIMENSION: (1303, 13)
********************************************************************************
COLUMNS:

['laptop_ID' 'Company' 'Product' 'TypeName' 'Inches' 'ScreenResolution'
 'Cpu' 'Ram' 'Memory' 'Gpu' 'OpSys' 'Weight' 'Price_euros']
********************************************************************************
DATA INFO:

laptop_ID             int64
Company              object
Product              object
TypeName             object
Inches              float64
ScreenResolution     object
Cpu                  object
Ram                   int32
Memory               object
Gpu                  object
OpSys                object
Weight              float64
Price_euros         float64
dtype: object
********************************************************************************
MISSING VALUES:

laptop_ID           0
Company             0
Product             0
TypeName            0
Inches              0
ScreenResolution    0
Cpu                 0
Ram                 0
Memory              0
Gpu                 0
OpSys               0
Weight              0
Price_euros         0
dtype: int64
********************************************************************************
NUMBER OF UNIQUE VALUES:

laptop_ID           1303
Company                9
Product              618
TypeName               6
Inches                18
ScreenResolution      40
Cpu                  118
Ram                    9
Memory                39
Gpu                  110
OpSys                  9
Weight               171
Price_euros          791
dtype: int64

In [112]:
def grab_col_names(dataframe, cat_th=10, car_th=20):
    
    # cat_cols, cat_but_car
    cat_cols = [col for col in dataframe.columns if dataframe[col].dtypes == "O"]
    num_but_cat = [col for col in dataframe.columns if dataframe[col].nunique() < cat_th and
                   dataframe[col].dtypes != "O"]
    cat_but_car = [col for col in dataframe.columns if dataframe[col].nunique() > car_th and
                   dataframe[col].dtypes == "O"]
    cat_cols = cat_cols + num_but_cat
    cat_cols = [col for col in cat_cols if col not in cat_but_car]

    # num_cols
    num_cols = [col for col in dataframe.columns if dataframe[col].dtypes != "O"]
    num_cols = [col for col in num_cols if col not in num_but_cat]

    print(" RESULT ".center(50, "-"))
    print(f"Observations: {dataframe.shape[0]}\n")
    print(f"Variables: {dataframe.shape[1]} {dataframe.columns}\n")
    
    print(f'cat_cols: {len(cat_cols)} - {cat_cols}\n')
    
    print(f'num_cols: {len(num_cols)} - {num_cols}\n')
    print(f'cat_but_car: {len(cat_but_car)} - {cat_but_car}\n')
    print(f'num_but_cat: {len(num_but_cat)} - {num_but_cat}\n')
    print("".center(50, "-"))
    return cat_cols, num_cols, cat_but_car

cat_cols, num_cols, cat_but_car = grab_col_names(data)

--------------------- RESULT ---------------------
Observations: 1303

Variables: 13 Index(['laptop_ID', 'Company', 'Product', 'TypeName', 'Inches',
       'ScreenResolution', 'Cpu', 'Ram', 'Memory', 'Gpu', 'OpSys', 'Weight',
       'Price_euros'],
      dtype='object')

cat_cols: 4 - ['Company', 'TypeName', 'OpSys', 'Ram']

num_cols: 4 - ['laptop_ID', 'Inches', 'Weight', 'Price_euros']

cat_but_car: 5 - ['Product', 'ScreenResolution', 'Cpu', 'Memory', 'Gpu']

num_but_cat: 1 - ['Ram']

--------------------------------------------------

In [113]:
data['Touchscreen'] = data['ScreenResolution'].apply(lambda x:1 if 'Touchscreen' in x else 0)
data['Ips'] = data['ScreenResolution'].apply(lambda x:1 if 'IPS' in x else 0)

In [114]:
data['Cpu'].value_counts()

Cpu
Intel Core i5 7200U 2.5GHz       190
Intel Core i7 7700HQ 2.8GHz      146
Intel Core i7 7500U 2.7GHz       134
Intel Core i7 8550U 1.8GHz        73
Intel Core i5 8250U 1.6GHz        72
                                ...
Intel Core M M3-6Y30 0.9GHz        1
AMD A9-Series 9420 2.9GHz          1
Intel Core i3 6006U 2.2GHz         1
AMD A6-Series 7310 2GHz            1
Intel Xeon E3-1535M v6 3.1GHz      1
Name: count, Length: 118, dtype: int64

In [115]:
data['cpu_name'] = data['Cpu'].apply(lambda x:' '.join(x.split()[0:3]))

In [116]:
data['cpu_name'].value_counts()

cpu_name
Intel Core i7               527
Intel Core i5               423
Intel Core i3               136
Intel Celeron Dual           80
Intel Pentium Quad           27
Intel Core M                 19
AMD A9-Series 9420           12
Intel Celeron Quad            8
AMD A6-Series 9220            8
AMD A12-Series 9720P          7
Intel Atom x5-Z8350           5
AMD A8-Series 7410            4
Intel Atom x5-Z8550           4
Intel Pentium Dual            3
AMD A9-Series 9410            3
AMD Ryzen 1700                3
AMD A9-Series A9-9420         2
AMD A10-Series 9620P          2
Intel Atom X5-Z8350           2
AMD E-Series E2-9000e         2
Intel Xeon E3-1535M           2
Intel Xeon E3-1505M           2
AMD E-Series 7110             2
AMD A10-Series 9600P          2
AMD A6-Series A6-9220         2
AMD A10-Series A10-9620P      2
AMD Ryzen 1600                1
Intel Atom x5-Z8300           1
AMD E-Series E2-6110          1
AMD FX 9830P                  1
AMD E-Series E2-9000          1
AMD A6-Series 7310            1
Intel Atom Z8350              1
AMD A12-Series 9700P          1
AMD A4-Series 7210            1
AMD FX 8800P                  1
AMD E-Series 9000e            1
Samsung Cortex A72&A53        1
AMD E-Series 9000             1
AMD E-Series 6110             1
Name: count, dtype: int64

In [117]:
def set_processor(name):
    if name == 'Intel Core i7' or name == 'Intel Core i5' or name == 'Intel Core i3':
        return name
    else:
        if name.split()[0] == 'AMD':
            return 'AMD'
        else:
            return 'Other'
        
data['cpu_name'] = data['cpu_name'].apply(set_processor)

In [118]:
data['gpu_name'] = data['Gpu'].apply(lambda x:' '.join(x.split()[0:1]))
data['gpu_name'].value_counts()

gpu_name
Intel     722
Nvidia    400
AMD       180
ARM         1
Name: count, dtype: int64

In [119]:
data = data[data['gpu_name'] != 'ARM']

In [120]:
data.shape

(1302, 17)

In [121]:
data['OpSys'].value_counts()

OpSys
Windows 10      1072
No OS             66
Linux             62
Windows 7         45
Chrome OS         26
macOS             13
Mac OS X           8
Windows 10 S       8
Android            2
Name: count, dtype: int64

In [122]:
def set_os(inpt):
    if inpt == 'Windows 10' or inpt == 'Wondows 7' or inpt == 'Windows 10 S':
        return 'Windows'
    elif inpt == 'macOS' or inpt == 'Mac OS X':
        return 'Mac'
    elif inpt == 'Linux':
        return inpt
    else:
        return 'Other'
    
data['OpSys'] = data['OpSys'].apply(set_os)

In [123]:
data['OpSys'].value_counts()

OpSys
Windows    1080
Other       139
Linux        62
Mac          21
Name: count, dtype: int64

In [124]:
data.columns

Index(['laptop_ID', 'Company', 'Product', 'TypeName', 'Inches',
       'ScreenResolution', 'Cpu', 'Ram', 'Memory', 'Gpu', 'OpSys', 'Weight',
       'Price_euros', 'Touchscreen', 'Ips', 'cpu_name', 'gpu_name'],
      dtype='object')

In [125]:
data.drop(['laptop_ID','Inches','Product','ScreenResolution','Cpu','Gpu'],axis=1,inplace=True)

In [126]:
data.columns

Index(['Company', 'TypeName', 'Ram', 'Memory', 'OpSys', 'Weight',
       'Price_euros', 'Touchscreen', 'Ips', 'cpu_name', 'gpu_name'],
      dtype='object')

In [127]:
data['Memory'].value_counts()

Memory
256GB SSD                        412
1TB HDD                          223
500GB HDD                        132
512GB SSD                        118
128GB SSD +  1TB HDD              94
128GB SSD                         76
256GB SSD +  1TB HDD              73
32GB Flash Storage                37
2TB HDD                           16
64GB Flash Storage                15
512GB SSD +  1TB HDD              14
1TB SSD                           14
256GB SSD +  2TB HDD              10
1.0TB Hybrid                       9
256GB Flash Storage                8
16GB Flash Storage                 7
32GB SSD                           6
180GB SSD                          5
128GB Flash Storage                4
512GB SSD +  2TB HDD               3
16GB SSD                           3
512GB Flash Storage                2
1TB SSD +  1TB HDD                 2
256GB SSD +  500GB HDD             2
128GB SSD +  2TB HDD               2
256GB SSD +  256GB SSD             2
512GB SSD +  256GB SSD             1
512GB SSD +  512GB SSD             1
64GB Flash Storage +  1TB HDD      1
1TB HDD +  1TB HDD                 1
32GB HDD                           1
64GB SSD                           1
128GB HDD                          1
240GB SSD                          1
8GB SSD                            1
508GB Hybrid                       1
1.0TB HDD                          1
512GB SSD +  1.0TB Hybrid          1
256GB SSD +  1.0TB Hybrid          1
Name: count, dtype: int64

In [128]:
data['memory_1']=data['Memory']
data['memory_1']=data['memory_1'].str.replace('1.0TB','1TB', regex=True)
data['memory_1']=data['memory_1'].str.replace('1TB','1000GB')
data['memory_1']=data['memory_1'].str.replace('2TB','2000GB')
data['memory_1']=data['memory_1'].str.replace('GB','')
data['memory_1'].value_counts()

memory_1
256 SSD                         412
1000 HDD                        224
500 HDD                         132
512 SSD                         118
128 SSD +  1000 HDD              94
128 SSD                          76
256 SSD +  1000 HDD              73
32 Flash Storage                 37
2000 HDD                         16
64 Flash Storage                 15
512 SSD +  1000 HDD              14
1000 SSD                         14
256 SSD +  2000 HDD              10
1000 Hybrid                       9
256 Flash Storage                 8
16 Flash Storage                  7
32 SSD                            6
180 SSD                           5
128 Flash Storage                 4
512 SSD +  2000 HDD               3
16 SSD                            3
512 Flash Storage                 2
1000 SSD +  1000 HDD              2
256 SSD +  500 HDD                2
128 SSD +  2000 HDD               2
256 SSD +  256 SSD                2
512 SSD +  256 SSD                1
512 SSD +  512 SSD                1
64 Flash Storage +  1000 HDD      1
1000 HDD +  1000 HDD              1
32 HDD                            1
64 SSD                            1
128 HDD                           1
240 SSD                           1
8 SSD                             1
508 Hybrid                        1
512 SSD +  1000 Hybrid            1
256 SSD +  1000 Hybrid            1
Name: count, dtype: int64

In [129]:
data['memory2']=data['memory_1'].str.replace(r' ','')
data['memory2'].value_counts()

memory2
256SSD                    412
1000HDD                   224
500HDD                    132
512SSD                    118
128SSD+1000HDD             94
128SSD                     76
256SSD+1000HDD             73
32FlashStorage             37
2000HDD                    16
64FlashStorage             15
512SSD+1000HDD             14
1000SSD                    14
256SSD+2000HDD             10
1000Hybrid                  9
256FlashStorage             8
16FlashStorage              7
32SSD                       6
180SSD                      5
128FlashStorage             4
512SSD+2000HDD              3
16SSD                       3
512FlashStorage             2
1000SSD+1000HDD             2
256SSD+500HDD               2
128SSD+2000HDD              2
256SSD+256SSD               2
512SSD+256SSD               1
512SSD+512SSD               1
64FlashStorage+1000HDD      1
1000HDD+1000HDD             1
32HDD                       1
64SSD                       1
128HDD                      1
240SSD                      1
8SSD                        1
508Hybrid                   1
512SSD+1000Hybrid           1
256SSD+1000Hybrid           1
Name: count, dtype: int64

In [130]:
memory_1=[]
memory_2=[]
for i in data['memory2']:
    if len(re.findall(r'\+',i))==1: # DOUBLE DRIVE
        one=re.findall(r'(\w+)',i)
        memory_1.append(one[0]) 
        memory_2.append(one[1])
    else: # SINGLE DRIVE
        one=re.findall(r'(\w+)',i)
        memory_1.append(one[0])
        memory_2.append('NaN')

In [131]:
memory_1_gb=[]
memory_1_type=[]
for i in memory_1:
    memory_1_type.append(re.findall(r'(\D\w+)',i)[0])
    memory_1_gb.append(re.findall(r'(\d+)',i)[0])

In [132]:
memory_2_gb=[]
memory_2_type=[]
for i in memory_2:
    if i != 'NaN':
        memory_2_type.append(re.findall(r'(\D\w+)',i)[0])
        memory_2_gb.append(re.findall(r'(\d+)',i)[0])
    else:
        memory_2_type.append('NaN')
        memory_2_gb.append(0)

In [133]:
data['memory_1_sto(GB)'] = memory_1_gb
data['memory_1_type'] = memory_1_type
data['memory_2_sto(GB)'] = memory_2_gb
data['memory_2_type'] = memory_2_type

In [134]:
data['memory_1_sto(GB)'] = data['memory_1_sto(GB)'].astype(float)
data['memory_2_sto(GB)'] = data['memory_2_sto(GB)'].astype(float)

In [135]:
data=data.drop(['memory_1','memory2','Memory'], axis=1)

In [136]:
data = data.replace({'NaN': np.nan})

In [137]:
data.isna().sum()

Company                0
TypeName               0
Ram                    0
OpSys                  0
Weight                 0
Price_euros            0
Touchscreen            0
Ips                    0
cpu_name               0
gpu_name               0
memory_1_sto(GB)       0
memory_1_type          0
memory_2_sto(GB)       0
memory_2_type       1094
dtype: int64

In [138]:
catCols =  ['Company','Typename','cpu_name','gpu_name','OpSys','resolution','screentype','resolution','memory_1_type','memory_2_type','gpu_brand','cpu_brand']

In [139]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1302 entries, 0 to 1302
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           1302 non-null   object
 1   TypeName          1302 non-null   object
 2   Ram               1302 non-null   int32
 3   OpSys             1302 non-null   object
 4   Weight            1302 non-null   float64
 5   Price_euros       1302 non-null   float64
 6   Touchscreen       1302 non-null   int64
 7   Ips               1302 non-null   int64
 8   cpu_name          1302 non-null   object
 9   gpu_name          1302 non-null   object
 10  memory_1_sto(GB)  1302 non-null   float64
 11  memory_1_type     1302 non-null   object
 12  memory_2_sto(GB)  1302 non-null   float64
 13  memory_2_type     208 non-null    object
dtypes: float64(4), int32(1), int64(2), object(7)
memory usage: 147.5+ KB

In [140]:
data = pd.get_dummies(data,dtype=int)

In [141]:
data.shape

(1302, 41)

In [142]:
data.head()

,Ram,Weight,Price_euros,Touchscreen,Ips,memory_1_sto(GB),memory_2_sto(GB),Company_Acer,Company_Apple,Company_Asus,...,gpu_name_AMD,gpu_name_Intel,gpu_name_Nvidia,memory_1_type_FlashStorage,memory_1_type_HDD,memory_1_type_Hybrid,memory_1_type_SSD,memory_2_type_HDD,memory_2_type_Hybrid,memory_2_type_SSD
0,8,1.37,1339.69,0,1,128.0,0.0,0,1,0,...,0,1,0,0,0,0,1,0,0,0
1,8,1.34,898.94,0,0,128.0,0.0,0,1,0,...,0,1,0,1,0,0,0,0,0,0
2,8,1.86,575.00,0,0,256.0,0.0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
3,16,1.83,2537.45,0,1,512.0,0.0,0,1,0,...,1,0,0,0,0,0,1,0,0,0
4,8,1.37,1803.60,0,1,256.0,0.0,0,1,0,...,0,1,0,0,0,0,1,0,0,0

In [143]:
x = data.drop('Price_euros',axis=1)
y = data['Price_euros']

In [144]:
from sklearn.model_selection import train_test_split

In [146]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [147]:
x_train.shape,x_test.shape

((1041, 40), (261, 40))

In [148]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

In [149]:
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score

def training_scores(y_act,y_pred):
    acc = round(accuracy_score(y_act,y_pred),3)
    pr = round(precision_score(y_act,y_pred),3)
    rec = round(recall_score(y_act,y_pred),3)
    f1 = round(f1_score(y_act,y_pred),3)
    print(f'Training Scores:\n\tAccuracy = {acc}\n\tPrecision = {pr}\n\tRecall = {rec}\n\tF1-Score = {f1}')
          
def validation_scores(y_act,y_pred):
    acc = round(accuracy_score(y_act,y_pred),3)
    pr = round(precision_score(y_act,y_pred),3)
    rec = round(recall_score(y_act,y_pred),3)
    f1 = round(f1_score(y_act,y_pred),3)
    print(f'Training Scores:\n\tAccuracy = {acc}\n\tPrecision = {pr}\n\tRecall = {rec}\n\tF1-Score = {f1}')

In [152]:
lr = LinearRegression()
lr.fit(x_train,y_train)

y_train_pred = lr.predict(x_train)

lr.score(x_train,y_train),lr.score(x_test,y_test)

(0.7287491401190205, 0.7184042739730778)

In [153]:
rf = RandomForestRegressor()
rf.fit(x_train,y_train)

y_train_pred = rf.predict(x_train)

rf.score(x_train,y_train),rf.score(x_test,y_test)

(0.9675239707508043, 0.7581673087527204)

In [154]:
dr = DecisionTreeRegressor()
dr.fit(x_train,y_train)

y_train_pred = dr.predict(x_train)

dr.score(x_train,y_train),dr.score(x_test,y_test)

(0.9945425210643636, 0.7239411885616401)

In [155]:
import pickle

with open('model.pickle','wb') as file:
    pickle.dump(lr,file)